header {
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(31, 30, 30);
}

ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

a {
    color: aliceblue;
    text-decoration: none;
}

h3 {
    text-align: center;
    font-size: 25px;
    margin-top: 40px;
}

section {
    display: flex;
    padding: 30px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

article {
    width: 300px;
    padding: 15px;
    flex-grow: 1;
    max-width: 40%;

}

img {
    width: 100%;
    flex-grow: 1;
}

p {
    text-align: center;
    font-size: 10px;
}


* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

@media(max-width: 670px) {
    ul {
        display: flex;
        flex-direction: column;
        font-size: 13px;
        gap: 5px;
    }

    li {
        background-color: rgb(80, 79, 79);
    }

    header>a {
        font-size: 40px;
    }

    article {
        max-width: 100%;
    }

    p {
        font-size: 20px;
    }

}
